@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

html,
body {
  position: relative;
  height: 100%;
}

.grid-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr 0.3fr;
  grid-template-areas: "." "." "." "." ".";
}

/* section-a */
.section-a {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: ".";
  overflow: hidden;
  #bg-img {
    position: absolute;
    z-index: -2;
  }
  /* navigation bar */
  .nav-grid {
    animation: entrence 0.4s ease;
    animation-fill-mode: backwards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
    height: 20vh;
    text-align: center;
    img {
      cursor: pointer;
      margin-top: -15px;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        width: auto;
        cursor: pointer;
        list-style: none;
        color: white;
        &:nth-child(1) {
          margin-right: -10%;
        }
        &:nth-child(2) {
          padding-top: 2vh;
          height: 8vh;
          width: 23vh;
          background-color: #262a34;
          margin-right: 20%;
        }
      }
    }
  }
  .main-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
    margin-bottom: 300px; // DEPENDENTI 1
    animation: entrence 0.5s ease;
    animation-fill-mode: backwards;
    .left-1 {
      text-align: center;
      img {
        width: 250px;
        z-index: -1;
        margin-left: 100px;
        margin-bottom: -180px;
        position: relative;
        animation: entrence 0.6s ease;
        animation-fill-mode: backwards;
      }
    }
    .right-1 {
      margin-top: 50px;
      div {
        &:nth-child(1) {
          margin-bottom: 10vh;
          color: #3c3d41;
          i {
            color: white;
          }
        }
        &:nth-child(2) {
          margin-bottom: 10vh;
          p {
            color: white;
            margin-bottom: 2vh;
          }
        }
      }
    }
  }
}

/* section-b */
.section-b {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #262a34;
  .left-2 {
    animation: entrence 0.5s ease;
    animation-fill-mode: backwards;
    div {
      color: white;
      margin-left: 40%;
      &:nth-child(1) {
        margin-bottom: 10vh;
      }
      &:nth-child(2) {
        margin-bottom: 13vh;
        p {
          font-size: 14px;
          margin-bottom: 2vh;
        }
      }
      &:nth-child(3) {
        padding-top: 2vh;
        padding-left: 4vh;
        height: 8vh;
        width: 23vh;
        background-color: #41e0d8;
      }
    }
  }
  .right-2 {
    text-align: center;

    // Swiper 1
    .big-swiper-wrapper-1 {
      animation: entrence 0.6s ease;
      animation-fill-mode: backwards;
      width: 450px;
      height: 400px;
      .swiper-1 {
        width: auto;
        height: 450px;
        padding-bottom: 40px;
        .swiper-slide {
          background: #3f4551;
          position: relative;
          text-align: center;
          font-size: 18px;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
      }
    }

    .swiper-pagination-bullet {
      background-color: #929499;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      transition: all 0.3s ease;
      background: #fff;
      width: 16px;
      border-radius: 10px;
    }
  }
}
/* section-c */
.section-c {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: #67e6e0;
  .top-1 {
    display: flex;
    flex-direction: column;
    h1 {
      color: white;
      font-size: 30px;
      margin-bottom: 3vh;
    }
    p {
      font-size: 14px;
      &:nth-child(2) {
        margin-bottom: 2vh;
      }
    }
  }
  .bottom-1 {
    display: flex;
    margin: 0 auto;
    text-align: center;
    img {
      width: 250px;
      z-index: 0;
      margin-bottom: -90px;
    }
    // Swiper 2
    .big-swiper-wrapper-2 {
      width: 700px;
      height: 250px;
      margin-left: 20px;
      background-image: url("./assets/chat-bubble.png");
      background-repeat: no-repeat;
      .swiper-2 {
        width: 595px;
        height: 340px;
        padding-bottom: 95px;
        margin-left: 19px;
        padding-right: 85px;
        .swiper-pagination-bullet {
          background-color: #b3f3f0;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          transition: all 0.3s ease;
          background: #fff;
          width: 16px;
          border-radius: 10px;
        }
        .swiper-slide {
          position: relative;
          font-size: 18px;
          text-align: left;
          .mark-1 {
            color: #67e6e0;
            position: absolute;
            margin-left: 7vh;
            -moz-transform: scale(1, -1);
            -webkit-transform: scale(1, -1);
            -o-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
            transform: scale(-1, -1);
          }
          .mark-2 {
            color: #67e6e0;
            position: absolute;
            margin-top: -6vh;
            margin-left: 84vh;
          }
          .card-text {
            font-size: 16px;
            height: 150px;
            padding: 0 80px; // DEPENDENTI 3
            padding-top: 8vh;
            margin-left: 1vh;
            h5 {
              &:nth-child(1) {
                margin-bottom: 1vh;
              }
              &:nth-child(2) {
                margin-bottom: 1vh;
              }
            }
          }
          h6 {
            color: #67e6e0;
            padding: 0 80px; // DEPENDENTI 3
            padding-top: 2vh;
            margin-left: 1vh;
            margin-bottom: 2vh;
          }
        }
        .swiper-pagination-2 {
          padding-right: 50px; // DEPENDENTI 2
        }
      }
    }

    .swiper-pagination-bullet-active {
      transition: all 0.3s ease;
      background: #fff;
      width: 16px;
      border-radius: 10px;
    }
  }
}
/* section-d */
.section-d {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #262a34;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  z-index: 1;
  .top-2 {
    color: white;
    h1 {
      margin-top: 10vh;
      margin-bottom: 4vh;
      font-size: 40px;
    }
    p {
      font-size: 13px;
      &:nth-child(2) {
        margin-bottom: 2vh;
      }
    }
  }
  .bottom-2 {
    input {
      &:nth-child(1) {
        width: 350px;
        height: 50px;
        background: #51555d;
        border: none;
        &::placeholder {
          padding-left: 4vh;
          color: white;
        }
      }
      &:nth-child(2) {
        width: 100px;
        height: 50px;
        border: none;
        color: #41e0d8;
      }
    }
  }
}
/* section-e */
.section-e {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  div {
    padding: 15px;
    &:nth-child(2) {
      p {
        a {
          text-decoration: none;
          color: #41e0d8;
        }
      }
    }
  }
}

/* Animations */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes entrence {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}
